* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: gray;
}

.container {
    text-align: center;
}

.container h1 {
    padding-bottom: 20px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

.cell:hover {
    background-color: #c47878;
}

.game-info {
    margin-top: 20px;
}

.game-info p {
    font-size: larger;
    font-weight: 1000;
}

#status {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: aqua;
}

button:hover {
    background-color: #c47878;
}